/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
    background-image: url("ree.png");
  position: absolute;
  top: 0%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-0%);
  -webkit-transform: translateX(-50%) translateY(-0%);
  transform: translateX(-50%) translateY(-0%);
}
 
body {
  /*background-color: white;*/
  width: 600px;
  padding: 20px 20px 0px 0px;  
}

h1{
    font-size: 60px;
    font-family: 'Arial';
    text-align: center;
    margin-top: 10px;
    padding: 20px 0px;
    color:white; 
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}


h2 {
    font-family: 'Arial';
	text-align: 'left';
	margin: 0;
    font-size: 20px;
}


/* Defining styling for a specific element type - each question */
.question {
font-family: "Arial";
  background-color: white;
  color: black;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}